@use "colors";
@use "variables";
@use "font";

.user-button {
  background-color: colors.$blue;
  box-shadow: none;
  margin-left: 16px;

  &__icon {
  color: colors.$white;
  }

  &:hover {
  background-color: colors.$black-08;
  }

  @media (max-width: variables.$small) {
    margin-top: 0;
  }
}

.user-menu-title {
  padding: 16px 48px 0 16px;
  margin-bottom: 4px;

  &__name {
    margin-bottom: 4px;
  font-weight: variables.$fw-lighter;
  font-size: variables.$fs-large;
  color: colors.$dark-grey;
  }

  &__link {
  color: colors.$blue;
  font-weight: variables.$fw-lighter;
  font-size: variables.$fs-small;
    text-decoration: none;
    margin-top: 2px;
  }
}

.user-menu-icon {
  color: colors.$light-grey;
  margin-right: 16px;
  opacity: 0.8;
}

.sign-button-wrapper {
  text-align: center;
  padding: 8px 0 8px 0;
  width: 100%;
}

.sign-button {
  border: 1px solid;
  color: colors.$white;
  width: 80%;
}

.edit-button {
  border: 1px solid;
  color: colors.$blue;
  width: 80%;
}

.user-menu {
  &__item-title {
  color: colors.$dark-grey;

    & .user-menu-icon {
      color: #536dfe;
    }

    &:hover {
      color: colors.$dark-grey;
      background-color: colors.$blue-white;
    }
  }
}

.user-description{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

/*::ng-deep .mat-mdc-menu-content{
  background-color: #c2c2c8;
}*/

