<!-- Barra superior -->
  <mat-toolbar color="primary" class="navbar">
    <button class="title-button" mat-mini-fab (click)="openMenu()">
        @if (!isMenuOpened) {
            <mat-icon class="title-button-icon">menu</mat-icon>
        }
        @if (isMenuOpened) {
            <mat-icon class="title-button-icon">list</mat-icon>
        }      
    </button> 
    <span class="logo">PRAD Academy</span>
    <span class="spacer"></span>
    <app-language-switcher></app-language-switcher>
    <div class="nav-links">
      <app-app-user [user]="user$ | async" (signOut)="signOut()"></app-app-user>
    </div>
  </mat-toolbar>
