.sidenav-container {
  height: auto;
}

.navbar {
  padding: 0 1rem;
  background-color: #1a237e; /* Azul profundo */
  color: white;
}

.logo {
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.menu-button {
  display: none;
  color: white;
}

button {
  margin-left: 0.5rem;
  font-weight: 500;
}

mat-icon {
  vertical-align: middle;
  margin-right: 4px;
}

.mat-mdc-outlined-button:not(:disabled) {
  color: white;
}

.mat-mdc-button:not(:disabled) {
  color: white;
}

.mat-mdc-list-base {
    margin-left: 5px;
}

.mat-drawer {
  width: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.title-button {
    background-color: #1a237e;
    box-shadow: none;
    border-radius: 50%;

    &:hover {
      background-color: #00000014;
      box-shadow: none;
    }

    &:active {
      background-color: #00000014;
      box-shadow: none;
    }

    &:focus {
      background-color: #00000014;
      box-shadow: none;
    }

    @media (max-width: 576px) {
      margin-top: 0;
    }
  }

  .title-button-icon {
    color: white;
  }