<h2 mat-dialog-title>{{'APPLY_COURSE.TITLE' | translate}}</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="outline" class="full-width" style="margin-top: 1rem;">
        <mat-label>{{'APPLY_COURSE.PAYMENT_MODE' | translate}}</mat-label>
        <mat-select formControlName="metodo">
            @for (item of metodos; track $index) {
            <mat-option [value]="item.value">
                {{ item.label | translate}}
            </mat-option>
            }
        </mat-select>
        @if (form.get('metodo')?.hasError('required')) {
        <mat-error>
            {{'APPLY_COURSE.ERROR_PAYMENT_MODE' | translate}}
        </mat-error>
        }

    </mat-form-field>

    <div class="file-upload">
        <button mat-stroked-button color="accent" (click)="fileInput.click()">
            <mat-icon class="upload-icon">upload</mat-icon>
            {{ selectedFileName ? ('APPLY_COURSE.CHANGE_IMAGE' | translate) : 'APPLY_COURSE.SELECT_IMAGE' | translate }}
        </button>
        <span class="file-name">{{ selectedFileName }}</span>
        <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden>
    </div>


    <!-- Previsualización -->
    @if (previewUrl) {
    <div class="preview-container">
        <img [src]="previewUrl" alt="{{'APPLY_COURSE.ERROR_PAYMENT_MODE' | translate}}" class="preview-img">
    </div>
    }

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancelar()">{{'COMMON.BTN_CANCEL' | translate}}</button>
    <button mat-flat-button color="primary" (click)="aceptar()" [disabled]="form.invalid">
        {{'COMMON.BTN_ACCEPT' | translate}}
    </button>
</mat-dialog-actions>