<app-navbar></app-navbar>
<div class="container py-5">
  <div class="row">
    <div class="col-md-6 d-none d-md-block ilustracion">
      <!-- Aquí puedes insertar una imagen SVG o componente visual -->
    </div>

    <div class="col-md-6">
      <h2 class="mb-3">Crea tu cuenta</h2>
      <p class="mb-4 text-muted">Para usar todos nuestros servicios y continuar con PRAD Academy.</p>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" required>
              @if (form.get('name')?.invalid) {
              <mat-error>Campo obligatorio</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Apellidos</mat-label>
              <input matInput formControlName="lastName" required>
              @if (form.get('lastName')?.invalid) {
              <mat-error>Campo obligatorio</mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Correo electrónico</mat-label>
          <input matInput formControlName="email" type="email" placeholder="mail@example.com" required>
          @if (form.get('email')?.invalid) {
          <mat-error>Correo inválido</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Teléfono</mat-label>
          <input matInput formControlName="phone">
          @if (form.get('phone')?.invalid) {
          <mat-error>Campo obligatorio</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Cédula</mat-label>
          <input matInput formControlName="idNumber" required>
          @if (form.get('idNumber')?.invalid) {
          <mat-error>Campo obligatorio</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Área</mat-label>
          <mat-select formControlName="areaId" (valueChange)="onSelectArea($event)">
            @for (area of listAreas; track $index) {
            <mat-option [value]="area.id">{{ area.name }}</mat-option>
            }
          </mat-select>
          @if (form.get('areaId')?.invalid) {
          <mat-error>Campo obligatorio</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Práctica</mat-label>
          <mat-select formControlName="practiceId">
            @for (practice of listPractice; track $index) {
            <mat-option [value]="practice.id">{{ practice.name }}</mat-option>
            }
          </mat-select>
          @if (form.get('practiceId')?.invalid) {
          <mat-error>Campo obligatorio</mat-error>
          }
        </mat-form-field>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Contraseña</mat-label>
              <input matInput formControlName="password" [type]="mostrarPassword ? 'text' : 'password'" required>
              @if (!mostrarPassword) {
              <mat-icon matSuffix (click)="mostrarPassword = !mostrarPassword"> visibility_off </mat-icon>
              }
              @if (mostrarPassword) {
              <mat-icon matSuffix (click)="mostrarPassword = !mostrarPassword"> visibility </mat-icon>
              }
              @if (form.get('password')?.invalid) {
              <mat-error>Mínimo 6 caracteres</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Confirmar contraseña</mat-label>
              <input matInput formControlName="confirm" [type]="mostrarConfirm ? 'text' : 'password'" required>
              @if (!mostrarConfirm) {
              <mat-icon matSuffix (click)="mostrarConfirm = !mostrarConfirm"> visibility_off </mat-icon>
              }
              @if (mostrarConfirm) {
              <mat-icon matSuffix (click)="mostrarConfirm = !mostrarConfirm"> visibility </mat-icon>
              }
              @if (form.get('confirm')?.invalid) {
              <mat-error>Las contraseñas no coinciden</mat-error>
              }
            </mat-form-field>
          </div>
        </div>

        @if (form.hasError('passwordMismatch') && form.get('confirm')?.touched) {
        <div class="text-danger small mb-2">
          Las contraseñas no coinciden.
        </div>
        }

        <button mat-raised-button color="accent" class="w-100 mt-3" type="submit" [disabled]="form.invalid">
          Crear cuenta
        </button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>