.certificaciones-container {
  padding: 3rem 2rem;
  text-align: center;
  //background-color: #e8f0fe;
  //border-top: 1px solid #cfd8dc;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #212121;
}

.cert-text {
  font-size: 1.1rem;
  color: #424242;
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
