<footer class="footer">
  <div class="footer-content">
    <div class="footer-brand">
      <span class="logo">PRAD Academy</span>
    </div>

    <nav class="footer-links">
      <a routerLink="/inicio">Inicio</a>
      <a routerLink="/cursos">Cursos</a>
      <a routerLink="/contacto">Contacto</a>
    </nav>

    <div class="footer-social" style="gap: 5px;">
      <a href="#"><mat-icon>facebook</mat-icon></a>
      <a href="#">
        <mat-icon svgIcon="whatsapp" aria-hidden="false" aria-label="Example thumbs up SVG icon" style="width: 1.5em;"></mat-icon>
      </a>
      <a href="#">
        <mat-icon svgIcon="instragram" aria-hidden="false" aria-label="Example thumbs up SVG icon" style="width: 1.5em;"></mat-icon>
      </a>
    </div>
  </div>

  <div class="footer-bottom">
    <small>&copy; 2025 PRAD Academy. Todos los derechos reservados.</small>
  </div>
</footer>
