<div class="modal-header">
  <mat-card class="field-full-width">
    <h2 class="modal-title cursor-arrow">Información del curso</h2>
  </mat-card>
</div>

<div class="container-fluid">
  <mat-card class="course-card" @fadeIn>

    <mat-card-header>
      <div class="header-content">
        @if (courses() && courses().length) {
        <span class="course-title" style="margin-bottom: 1.5rem;">Cursos disponibles</span>

        <div class="card-grid">
          @for (curso of courses(); track $index) {
          <mat-card class="curso-card" appearance="outlined">

            <mat-card-header>
              <mat-card-title>{{ curso.name }}</mat-card-title>
              <mat-card-subtitle class="lesson-meta">{{ curso.description }}</mat-card-subtitle>

            </mat-card-header>
            <mat-card-content style="margin-bottom: 1rem;">
              <div class="account-info">
                <p><strong>Precio</strong></p>
                <p>{{ curso.price }} CRC</p>
                <p><strong>Duración</strong></p>
                <p>Para la realización del curso cuenta con {{ curso.durationDays }} días naturales luego de que este
                  sea aprobado por el profesor.</p>
              </div>
            </mat-card-content>
            <mat-card-footer style="display: flex; justify-content: flex-end;">

              <button class="sign-button" mat-flat-button (click)="onAction(curso.id)"
                matTooltip="Aplique para comenzar el curso">Aplicar</button>


            </mat-card-footer>
          </mat-card>
          }
        </div>
        }


        @if(course() && course().status && course().status !== 'NEW'){
        <span class="course-title">{{ course().configCourseName }}</span>
        }
      </div>
    </mat-card-header>

    <mat-card-content>

      @if(course() && course().status && course().status !== 'NEW'){

      <fieldset style="border-radius: 0.3em">
        <legend>Estado</legend>
        <p>{{ estadoMensaje() }}</p>
      </fieldset>

      <!--<fieldset style="border-radius: 0.3em;">
        <legend>Precio</legend>
        <p>{{ course().price }} CRC </p>
      </fieldset>-->

      <fieldset style="border-radius: 0.3em">
        <legend>Duración</legend>
        <p>Para la realización del curso cuenta con {{ course().durationDays }} días naturales luego de que este
          sea aprobado por el profesor.</p>
      </fieldset>

      }

      @if (courses() && courses().length) {
        <fieldset style="border-radius: 0.3em;">
        <legend>Modos de pago</legend>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-6">
            <mat-card class="bank-card" appearance="outlined" style="margin-bottom: 10px;">
              <mat-card-header>
                <mat-card-title>Sinpe móvil</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="account-info">
                  <p><strong>Número</strong></p>
                  <p>7219 5203</p>
                  <p><strong>A nombre de:</strong></p>
                  <p>dagoberto eloy gonzález lópez</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-6">
            <mat-card class="bank-card" appearance="outlined" style="margin-bottom: 10px;">
              <mat-card-header>
                <mat-card-title>Transferencia o Depósito Bancario</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="account-info">
                  <p><strong>A nombre de:</strong></p>
                  <p>Dagoberto Eloy González López</p>
                  <p><strong>Cédula</strong></p>
                  <p>8-0148-0648</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-4">
            <mat-card class="bank-card" appearance="outlined" style="margin-bottom: 10px;">
              <mat-card-header>
                <mat-card-title>BAC Credomatic</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="account-info">
                  <p><strong>Cuenta Corriente</strong></p>
                  <p>9040493083</p>
                  <p><strong>Cuenta IBAN</strong></p>
                  <p>CR03010200009680980611</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-4">
            <mat-card class="bank-card" appearance="outlined" style="margin-bottom: 10px;">
              <mat-card-header>
                <mat-card-title>Banco BCR</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="account-info">
                  <p><strong>Cuenta Corriente</strong></p>
                  <p>001-1915618- 9</p>
                  <p><strong>Cuenta IBAN</strong></p>
                  <p>CR26015202001191561891</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-4">
            <mat-card class="bank-card" appearance="outlined" style="margin-bottom: 10px;">
              <mat-card-header>
                <mat-card-title>Banco Nacional</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div class="account-info">
                  <p><strong>Cuenta Cliente</strong></p>
                  <p>15108020011139401</p>
                  <p><strong>Cuenta IBAN</strong></p>
                  <p>CR77015108020011139401</p>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </fieldset>
      }



    </mat-card-content>
  </mat-card>
</div>