/* You can add global styles to this file, and also import other style files */
@use '@ngneat/hot-toast/src/styles/styles.scss';
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.parrafo_small {
  padding-top: 10px;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 0px !important;
}

.parrafo-oscuro {
  font-size: 14px;
  line-height: 18px;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}

.container-fluid {
    width: 100%;
    padding: 1rem;
}

.mat-elevation-z8 {
    box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
}