<!-- Barra superior -->
  <mat-toolbar color="primary" class="navbar">
    <span class="logo">PRAD Academy</span>
    <span class="spacer"></span>

    <!-- Enlaces visibles solo en escritorio -->
    <div class="nav-links">
      <button mat-button (click)="actionHome()">Inicio</button>
      <button mat-stroked-button color="accent" (click)="actionLogin()" matTooltip="Iniciar sesión">
        <mat-icon>login</mat-icon> Login
      </button>
      <button mat-raised-button color="accent" (click)="actionRegister()" matTooltip="Registrarse">
        <mat-icon>person_add</mat-icon> Registro
      </button>
    </div>   
  

    <div class="nav-button">
      
      <div class="example-button-row">
    <div class="example-flex-container">
      <button matMiniFab (click)="actionLogin()" matTooltip="Iniciar sesión">
        <mat-icon>login</mat-icon>
      </button>
      <button matMiniFab (click)="actionRegister()" matTooltip="Registrarse">
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </div>

    </div>

  </mat-toolbar>

