.sidenav-container {
  height: auto;
}

.navbar {
  padding: 0 1rem;
  background-color: #1a237e; /* Azul profundo */
  color: white;
}

.logo {
  font-weight: 700;
  font-size: 1.2rem;
}

.spacer {
  flex: 1 1 auto;
}

.menu-button {
  display: none;
  color: white;
}

.nav-links button {
  margin-left: 0.5rem;
  font-weight: 500;
}

/* Responsive: mostrar menú hamburguesa en móvil */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-button {
    display: inline-flex;
  }

  .sidenav-container {
    height: auto;
  }
}

button {
  margin-left: 0.5rem;
  font-weight: 500;
}

mat-icon {
  vertical-align: middle;
  margin-right: 4px;
}

.mat-mdc-outlined-button:not(:disabled) {
  color: white;
}

.mat-mdc-button:not(:disabled) {
  color: white;
}

.mat-mdc-list-base {
    margin-left: 5px;
}

.mat-drawer {
  width: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
}
