<!-- Barra superior -->
  <mat-toolbar color="primary" class="navbar">
    <span class="logo">PRAD Academy</span>
    <span class="spacer"></span>

    <!-- Enlaces visibles solo en escritorio -->
    <div class="nav-links">
      <button mat-button (click)="actionHome()">Inicio</button>
      <button mat-button routerLink="/contacto">Contacto</button>
      <button mat-stroked-button color="accent" (click)="actionLogin()">
        <mat-icon>login</mat-icon> Login
      </button>
      <button mat-raised-button color="accent" (click)="actionRegister()">
        <mat-icon>person_add</mat-icon> Registro
      </button>
    </div>
  </mat-toolbar>

